/*
Green: 	#7ECE0F
Yellow:	#F7EC20
Blue:	#2B91BF
*/

/* resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* end reset */

h1, h2, h3, h4 {
	text-rendering:optimizelegibility;
}
body {
	background:url("images/noise.png") repeat scroll 0 0 #AAAAAA;
	padding:20px 0;
	color:#000;
	line-height:1;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
#page {
	/*-moz-border-radius:10px 10px 10px 10px;*/
	-moz-box-shadow:0 0 3px rgba(0, 0, 0, 0.6);
	background:none repeat-x scroll 0 -75px #333333;
	margin:0 auto;
	padding-bottom:20px;
	padding-top:20px;
	position:relative;
	width:960px;
}
/*header*/
h1 {
	display:block;
	height:100px;
	margin:0;
	z-index:20;
}
	h1 a.title{
		color:#ccc;
		font-family:Futura,‘Century Gothic’,AppleGothic,sans-serif;
		font-size:48px;
		font-style:normal;
		font-weight:normal;
		left:20px;
		letter-spacing:normal;
		position:relative;
		text-decoration:none;
		text-shadow:0 2px 0 #333;
		top:14px;
	}
	h1 span{
		color:#7ECE0F;
		font-family:helvetica;
		font-size:25px;
		left:-160px;
		position:relative;
		text-shadow:0 1px 0 #111111;
		top:40px;
	}
/*end header*/	

#posts{
	clear:left;
	position:relative;
	float:left;
	padding:0 0 15px;
	width:650px;
	display:block;
}
/*article*/
.article{
	-moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.4);
	background:none repeat scroll 0 0 #ddd;
	border:1px solid #FFFFFF;
	margin:15px 10px 0 15px;
	min-height:400px;
	position:relative;
	display:block;
	font-family:Helvetica,Arial,sans-serif;
}
	.article-header {
		border-bottom:1px solid #eee;
		margin:15px 25px;
		display:block;
	}
		.article-header h2{
			border-bottom:1px solid #bbb;
			color:#333333;
			font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size:24pt;
			font-weight:300;
			padding:15px 0 20px;
			text-shadow:0 1px 0 #fff;
		}
		.article .article-header > p{
			border-top:1px solid #eee;
			border-bottom:1px solid #bbb;
			margin:0;
			color:#666666;
			font-family:Helvetica,Arial,sans-serif;
			font-size:8pt;
			padding:3px 0;
			text-align:left;
			text-shadow:0 1px 0 #FFFFFF;		
		}
		.article .article-header .categories{
			-moz-border-radius:10px 10px 10px 10px;
			-moz-box-shadow:-1px -1px 0 #BBBBBB;
			background:none repeat scroll 0 0 #EEEEEE;
			color:#111111;
			margin:0 2px;
			padding:2px 8px 1px;
			text-decoration:none;
			text-transform:none;
		}
	.article p {
		margin:0 15px 15px 0;
	}
	.article p, 
	.article li {
		font-size:11pt;
		line-height:16pt;
	}
	.article .article-content {
		padding:5px 25px 20px;
	}
/*end article*/	
#sidebar{
	color:#AAAAAA;
	float:left;
	font-family:Helvetica,Arial,sans-serif;
	margin-left:10px;
	padding-top:15px;
	width:280px;
}
	#sidebar p, #sidebar li {
		font-size:11pt;
		line-height:16pt;
	}
	#sidebar li header {
		-moz-border-radius:4px 4px 4px 4px;
		-moz-box-shadow:1px 1px #3A3A3A, 1px 1px 4px #111111 inset;
		background:none repeat scroll 0 0 #222222;
		margin:0 0 5px;
		padding:4px 6px;
		display:block;
	}
		#sidebar li header h4 {
			color:#AAAAAA;
			font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size:14pt;
			font-weight:300;
			line-height:18pt;
		}
/*reusable*/
.clear{
	clear:both;
	position:relative;
	display:block;
}
span.time {
	color:#333333;
	font-weight:bold;
}
/*end reusable*/